*{
  font-family: 'Times New Roman', serif;
  scroll-behavior: smooth;
}

/*Login Page*/
.d-flex{
   margin-bottom: -25px;
}
.d-flex span{
  font-size: 20px;
  margin-left: -10px;
  font-weight: 600;
  color: #395B64;
  font-family: 'Helvetica';
}

.col-md-8 .form-outline .form-control{
   border-bottom: 1px solid #D9D9D9;
}

/*Button*/

.btn{
  background-color: #395B64;  
}

.btn:hover{
  background-color: #2C3333;
}

.btn a{
  color: white;
  font-family: 'Helvetica';
  font-weight: 500;
}

.btn-go{
   background-color: #2C3333; 
   border-radius: 5px;
   width: 100%;
   height: 5vh;
   border: none;
}
.btn-go:hover{
  background-color: #395B64;
}

.btn-go a{
  color: white;
  font-family: 'Helvetica';
  font-weight: 500;
}

/*Navbar*/
.fa-2x {
   font-size: 5em;
}

.fa.fa-2x{
   position: relative;
   display: table-cell;
   width: 60px;
   height: 36px;
   text-align: center;
   vertical-align: middle;
   font-size:25px;
   padding: 15px;
}

.main-menu:hover,nav.main-menu.expanded {
   width:250px;
   overflow:visible;
}

.main-menu {
   background: linear-gradient(rgba(231, 246, 242, 1), rgba(165, 201, 202, 1));
   border-right:1px solid #e5e5e5;
   position:fixed;

   top:0;
   bottom:0;
   height:100%;
   left:0;
   width:60px;
   overflow:hidden;
   -webkit-transition:width .05s linear;
   transition:width .05s linear;
   -webkit-transform:translateZ(0) scale(1,1);
   z-index:1000;
}

.main-menu>ul {
   margin:9px 0;
}
.main-menu a>img {
  padding: 10px; 
  width: 100%;
}
.main-menu li {
   position:relative;
   display:block;
   width:250px;
}

.main-menu li>a {
   position:relative;
   display:table;
   border-collapse:collapse;
   border-spacing:0;
   color:#395B64;
   font-family: arial;
   font-size: 17px;
   text-decoration:none;
   -webkit-transform:translateZ(0) scale(1,1);
   -webkit-transition:all .1s linear;
   transition:all .1s linear;
}

.main-menu .nav-icon {
   position:relative;
   display:table-cell;
   width:60px;
   height:36px;
   text-align:center;
   vertical-align:middle;
   font-size:18px;
}

.main-menu .nav-text {
   position:relative;
   display:table-cell;
   vertical-align:middle;
   width:190px;
   font-family: 'Helvetica', sans-serif;
}

.main-menu>ul.logout {
   position:absolute;
   left:0;
   bottom:0;
}

.no-touch .scrollable.hover {
   overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
   overflow-y:auto;
   overflow:visible;
}

a:hover,a:focus {
   text-decoration:none;
}

nav {
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   -o-user-select:none;
   user-select:none;
}

nav ul,nav li {
   outline:0;
   margin:0;
   padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
   color:#fff;
   background-color:#000000;
}

.active-sidebar{
   background-color: #2C3333;
   
}
li.active-sidebar>a{
   color: #E7F6F2;
}

/*Main Content*/
.area {
   background: white;
   width: 100%;
   height: 100%;
}

.area .header{
  margin-top: 20px;
  margin-left: 80px;
}

.area .header h1{
  font-family: 'Helvetica';
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
}

/* Breadcrumbs */
.breadcrumb {
  height: 30px;
  font-size: 12px;
  color: #899bbd;
  background-color: #2C3333;
  font-weight: 600;
  padding: 5px;
  margin-left: -20px;
  box-shadow: 0px 0 5px black;
}

.breadcrumb a {
  color: grey;
  transition: 0.3s;
  font-family: 'Helvetica';
  font-size: 10px;
  margin-left: 16px;
}

.breadcrumb a:hover {
  color: #2C3333;
}

.breadcrumb .breadcrumb-item::before {
  color: #395B64;
}

.breadcrumb .active {
  color: white;
  font-weight: 500;
  font-family: 'Helvetica';
}

/* Card */
.cards{
   box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
   margin-left: 60px;
   padding: 20px;
   width: 95.5%;
   display: inline-block;
   margin-bottom: 20px;
}

.col{
   margin-left: -5px;
   border-radius: 15px;
   word-wrap: break-word;
   width: 20%;
   display: inline-block;
   padding: 10px;

}

.card {
  word-wrap: break-word;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
}

.card-header{
   font-size: 30px;
   margin-bottom: 10px;
   font-family: "Helvetica";
}

.card-title b{
  font-family: "Helvetica";
  padding: 20px 0 15px 0;
  font-size: 18px;
}

.card-title {
  font-family: "Helvetica";
  padding: 20px 0 15px 0;
  font-size: 12px;
  color: #2C3333;
}

.card-body {
  padding: 0px 20px 20px 20px;
}

.card-text{
   line-height: 20px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   font-size: 12px;
}

/* Area */
.area .section {
   margin-left: 95px;
   width: 90%;
}

.area .section .table thead th{
   text-align: center;
}

.area .section .table tbody td{
   text-align: center;
   word-break: break-word;
}

/* btn */
.btn-crud{
   width: 200px;
   margin-top: -20px;
   margin-bottom: 20px;
   border: 1px solid #2C3333;
   border-radius: 20px;
   height: 35px;
   background-color: #2C3333;
}

.btn-crud font{
   margin-bottom: 10px;
   font-size: 15px;
   color: white;
   font-weight: bold;
   margin-left: 15px;
}

.btn-crud i.fa{
   margin-left: 0px;
   margin-top: -10px;
   display: inline-block;
   font-size: 15px;
   color: white;
}

.btn-crud:hover{
   background-color: #395B64;
}

.btn-crud .description:hover{
   color: #395B64;
}

a.edt>i.fa.fa-pencil-square-o{
  size: 50px;
  color: #395B64;
  padding: 5px;
}

a.edt>i.fa.fa-pencil-square-o:hover{
  color: #0d1f24;
}

a.del>i.fa.fa-trash-o{
  color: #da0707;
  padding: 5px;
}

a.del>i.fa.fa-trash-o:hover{
  color: #a50505;
  padding: 5px;
}

.container-fluidd{
   width: 100%;
   padding: 10px;
   background: linear-gradient(to bottom, #E7F6F2, #A5C9CA);
   overflow: hidden;
   position: fixed;
   top: 0;
}

/* Navbar */
.navbar-header a>img{
   margin-top: -30px;
   margin-left: -10px;
   margin-right: 350px;
   width: 250px;
   padding: 20px;
}

.navbar-collapse li{
   font-weight: bold;
   margin-right: 50px;
}

.navbar-collapse li>a>p{
   display: inline-flex;
   font-size: 15px;
   font-family: 'Helvetica';
   color: black;
   margin-bottom: -5px;
}

.navbar-collapse a>img{
  width: 20px;
  margin-right: 5px;
  margin-top: -10px;
}

.navbar-collapse li:hover{
  background-color: #A5C9CA;
  border-radius: 10px;
  margin-right: 65px;
  box-shadow: 5px 5px black;
  width: 110px;
  height: 40px;
  text-align: center;
}

.navbar-collapse li.active-nav{
  background-color: #A5C9CA;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  width: 110px;
  text-align: center;
  height: 40px;
}

/* Home */
.containerr {
  width: 100%;
  margin-top: -10px;
  padding: 25PX;
  overflow:hidden;
}

div.sub-header h4 b{
  font-family: 'Helvetica';
}


/* News */
section.news-section{
  margin-top: 20px;
}

section.news-section a{
   text-decoration: none;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.news-item {
  background: #E7F6F2;
  border-radius: 25px;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  color: #2C3333;
}

.news-item:hover {
  background: #aebdb9;
}

.news-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Helvetica';
}

.news-date {
  font-size: 14px;
  color: #acaaaa;
  margin:(134, 134, 134) 10px;
}

.news-content {
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

/*Modal*/
.modal-dialog .modal-body .form label{
  font-size: 12px;
  font-weight: bold;
}

.modal-dialog .modal-body .form input[type=text], input[type=email], input[type=url], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.modal-dialog .modal-body .form input[type=button] {
  width: 100%;
  background-color: #3A5C65;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.modal-dialog .modal-body .form input[type=button]:hover {
  background-color: #2D3434;
}

/* Edit data */
.card-body .form input[type=text],textarea, input[type=url], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.card-body .form button {
  width:40%;
  float: left;
  background-color: #3A5C65;
  color: white;
  padding: 14px 20px;
  margin-bottom: -20px;
  margin-top: 10px;
  margin-left: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card-body .form button.btn-edit{
  font-size: 18px;
  font-family: 'Helvetica';
}

.card-body .form a.btn-back{
  background-color: rgb(179, 21, 21);
  margin-left: 20px;
  width:40%;
  float: left;
  color: white;
  padding: 14px 20px;
  margin-bottom: -20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card-body .form button:hover {
  background-color: #2D3434;
}

/* Pagination */
div.card-body div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div.pagination>button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 4px;
}

div.pagination>button.active {
  background-color: #2D3434;
  color: white;
  border: 1px solid #2D3434;
}

.pagination>button:hover:not(.active) {background-color: #ddd;}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.container-profile {
  width: 100%;
  margin-top: -30px;
  padding: 25PX;
}

section.section.profile {
  margin-top: 50px;
}

.profile .profile-card img {
  max-width: 200px;
  height: 200px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #2D3434;
}

.profile .profile-overview .card-title {
  color: #2D3434;
}

.profile .profile-overview .label {
  font-size: 15px;
  font-weight: 600;
  color: #2D3434;
}

.profile .profile-edit label {
  font-weight: 600;
  color: #2D3434;
}

.profile .profile-edit img {
  max-width: 120px;
  height: 90px;
}

.card-titlee {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #2D3434;
  font-family: "Helvetica", sans-serif;
}

a i.fa.fa-chevron-left{
  text-decoration: none;
  color: #2D3434;
  margin-right: 10px;
  margin-top: 5px;
}

ul.nav.nav-tabs.nav-tabs-bordered li.nav-item button.nav-link{
  color: #2D3434;
  font-weight: bold;
  font-family: 'Helvetica';
}

ul.nav.nav-tabs.nav-tabs-bordered li.nav-item button.nav-link.active{
  color: #A5C9CA;
  font-weight: bold;
  font-family: 'Helvetica';
  border-bottom: 2px solid #A5C9CA;
}

/*====> Chat CSS <=====*/
.chat-container {
  margin: 0 auto;
  width: 100%;
  background: #395B64;
  border-radius: 0;
  display: flex;
  flex-direction: row; /* Menambahkan flex direction */
}

.people-list {
  width: 300px;
  flex-shrink: 0; /* Mencegah perubahan lebar */
  height: 100%; /* Isi tinggi 100% untuk mengisi tinggi kontainer */
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.people-list .name {
  color: #e7e7e7;
  padding: 20px;
  border: 3px solid #ccc; /* Tambahkan garis dengan warna dan lebar yang diinginkan */
  border-radius: 5px;
}

.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  background: #ffffff;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 100%;
  max-height: 460px;
  overflow-y: auto;
  color: #bdbdbd;
}
.people-list ul li {
  padding-bottom: 20px;
  text-decoration: none;
}

.people-list ul,
.people-list ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat {
  width: calc(100% - 300px); /* Menyesuaikan lebar chat */
  background: #eeeded;
  color: #2C3333;
  height: 100%;
  flex-shrink: 0; /* Mencegah perubahan lebar */
}

.chat .chat-history ul,
.chat .chat-history ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959e;
}
.chat .chat-header .fa-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: auto;
  height: 350px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: rgb(83, 83, 83);
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #A5C9CA;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #A5C9CA;
}
.chat .chat-history .other-message {
  background: #395B64;
  color: whitesmoke;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #395B64;
  color: whitesmoke;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20dp;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #2C3333;
}
.chat .chat-message button:hover {
  background-color: #2C3333;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.me {
  color: #00ff37;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Error Message */
/* Perubahan warna dan gaya pesan kesalahan */
.warning {
  color: #4c92b3;
  background-color: #e7f5f7;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-position: 10px center;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  /* Sembunyikan pesan kesalahan secara default */
  display: none;
}

#successMessage, #successMessageP {
  color: #4cb362;
  background-color: #c0f7b9;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-position: 10px center;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

#updateMessage {
  color: #4cb362;
  background-color: #c0f7b9;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-position: 10px center;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

#deleteMessage {
  color: #fd6b6b;
  background-color: #f7b9b9;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-position: 10px center;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}