*{
  font-family: 'Times New Roman', serif;
  scroll-behavior: smooth;
}

/*Login Page*/
.d-flex{
   margin-bottom: -25px;
}
.d-flex span{
  font-size: 20px;
  margin-left: -10px;
  font-weight: 600;
  color: #395B64;
  font-family: 'Helvetica';
}

.col-md-8 .form-outline .form-control{
   border-bottom: 1px solid #D9D9D9;
}

/*Button*/

/*.btn{
  background-color: #395B64;  
}

.btn:hover{
  background-color: #2C3333;
}

.btn a{
  color: white;
  font-family: 'Helvetica';
  font-weight: 500;
}*/

.btn-go{
   background-color: #2C3333; 
   border-radius: 5px;
   width: 100%;
   height: 5vh;
   border: none;
}
.btn-go:hover{
  background-color: #395B64;
}

.btn-go a{
  color: white;
  font-family: 'Helvetica';
  font-weight: 500;
}

/*Navbar*/
.fa-2x {
   font-size: 5em;
}

.fa {
   position: relative;
   display: table-cell;
   width: 60px;
   height: 36px;
   text-align: center;
   vertical-align: middle;
   font-size:25px;
   padding: 15px;
}

.main-menu:hover,nav.main-menu.expanded {
   width:250px;
   overflow:visible;
}

.main-menu {
   background: linear-gradient(rgba(231, 246, 242, 1), rgba(165, 201, 202, 1));
   border-right:1px solid #e5e5e5;
   position:fixed;

   top:0;
   bottom:0;
   height:100%;
   left:0;
   width:60px;
   overflow:hidden;
   -webkit-transition:width .05s linear;
   transition:width .05s linear;
   -webkit-transform:translateZ(0) scale(1,1);
   z-index:1000;
}

.main-menu>ul {
   margin:9px 0;
}
.main-menu a>img {
   padding:20px;
}
.main-menu li {
   position:relative;
   display:block;
   width:250px;
}

.main-menu li>a {
   position:relative;
   display:table;
   border-collapse:collapse;
   border-spacing:0;
   color:#395B64;
   font-family: arial;
   font-size: 17px;
   text-decoration:none;
   -webkit-transform:translateZ(0) scale(1,1);
   -webkit-transition:all .1s linear;
   transition:all .1s linear;
}

.main-menu .nav-icon {
   position:relative;
   display:table-cell;
   width:60px;
   height:36px;
   text-align:center;
   vertical-align:middle;
   font-size:18px;
}

.main-menu .nav-text {
   position:relative;
   display:table-cell;
   vertical-align:middle;
   width:190px;
   font-family: 'Helvetica', sans-serif;
}

.main-menu>ul.logout {
   position:absolute;
   left:0;
   bottom:0;
}

.no-touch .scrollable.hover {
   overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
   overflow-y:auto;
   overflow:visible;
}

a:hover,a:focus {
   text-decoration:none;
}

nav {
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   -o-user-select:none;
   user-select:none;
}

nav ul,nav li {
   outline:0;
   margin:0;
   padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
   color:#fff;
   background-color:#000000;
}

.active-sidebar{
   background-color: #2C3333;
   
}
li.active-sidebar>a{
   color: #E7F6F2;
}

/*Main Content*/
.area {
   background: white;
   width: 100%;
   height: 100%;
}

.area .header{
   margin-left: 80px;
   font-family: 'Helvetica';
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 12px;
  color: #899bbd;
  background-color: #2C3333;
  font-weight: 600;
  margin-left: -20px;
  box-shadow: 0px 0 5px black;
}

.breadcrumb a {
  color: grey;
  transition: 0.3s;
  font-family: 'Helvetica';
  font-size: 10px;
}

.breadcrumb a:hover {
  color: #2C3333;
}

.breadcrumb .breadcrumb-item::before {
  color: #395B64;
}

.breadcrumb .active {
  color: white;
  font-weight: 500;
  font-family: 'Helvetica';
}

/* Card */
.cards{
   box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
   margin-left: 60px;
   padding: 20px;
   width: 95.5%;
   display: inline-block;
   margin-bottom: 20px;
}

.col{
   margin-left: -5px;
   border-radius: 15px;
   word-wrap: break-word;
   width: 20%;
   display: inline-block;
   padding: 10px;

}

.card {
  word-wrap: break-word;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
}

.card-header{
   font-size: 30px;
   margin-bottom: 10px;
   font-family: "Helvetica";
}

.card-title b{
  font-family: "Helvetica";
  padding: 20px 0 15px 0;
  font-size: 18px;
}

.card-title {
  font-family: "Helvetica";
  padding: 20px 0 15px 0;
  font-size: 12px;
  color: #2C3333;
}

.card-body {
  padding: 0px 20px 20px 20px;
}

.card-text{
   line-height: 20px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   font-size: 12px;
}

.area .section {
   margin-left: 95px;
   width: 90%;
}

.area .section .table thead th{
   text-align: center;
}

.area .section .table tbody td{
   text-align: center;
}


.btn-crud{
   width: 200px;
   margin-top: -20px;
   margin-bottom: 20px;
   border: 1px solid grey;
   border-radius: 20px;
   height: 35px;
   background-color: grey;
}

.btn-crud font{
   margin-bottom: 10px;
   font-size: 15px;
   color: white;
   font-weight: bold;
}

.btn-crud i.fa{
   margin-left: -30px;
   margin-top: -10px;
   display: inline-block;
   font-size: 15px;
   color: white;
}

.btn-crud:hover{
   background-color: #395B64;
}

.btn-crud .description:hover{
   color: #395B64;
}

.container-fluidd{
   width: 100%;
   padding: 10px;
   background: linear-gradient(to bottom, #E7F6F2, #A5C9CA);
   overflow: hidden;
   position: fixed;
   top: 0;
}

.navbar-header a>img{
   margin-top: -30px;
   margin-left: -10px;
   margin-right: 350px;
   width: 250px;
   padding: 20px;
}

.navbar-collapse li{
   font-weight: bold;
   margin-right: 50px;
}

.navbar-collapse li>a>p{
   display: inline-flex;
   font-size: 15px;
   font-family: 'Helvetica';
   color: black;
   margin-bottom: -5px;
}

.navbar-collapse a>img{
  width: 20px;
  margin-right: 5px;
  margin-top: -10px;
}

.navbar-collapse li:hover{
  background-color: #A5C9CA;
  border-radius: 10px;
  margin-right: 65px;
  box-shadow: 5px 5px black;
  width: 110px;
  height: 40px;
  text-align: center;
}

.navbar-collapse li.active-nav{
  background-color: #A5C9CA;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  width: 110px;
  text-align: center;
  height: 40px;
}

.containerr {
  width: 100%;
  margin-top: -30px;
  padding: 25PX;
  overflow:visible;
}

section {
  margin-top: 20px;
}

section a{
   text-decoration: none;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.news-item {
  background: linear-gradient(to bottom, #E7F6F2, #A5C9CA);
  border-radius: 25px;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
}

.news-item:hover {
  background: linear-gradient(to bottom, #E7F6F2, #A5C9CA);
  border-radius: 25px;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  width: 50vh;
  align-items: center;
}

.news-image {
  max-width: 100%;
  height: auto;
  border: 1px grey;
  border-radius: 25px;
  margin-bottom: 10px;
}

.news-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.news-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.news-content {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.discussions {
  width: 35%;
  height: 700px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
  overflow: hidden;
  background-color: #87a3ec;
  display: inline-block;
}

.discussions .discussion {
  width: 100%;
  height: 90px;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #EEEEEE;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height:38px;
  width:100%;
  border:none;
  font-family: 'Montserrat', sans-serif;;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
}

.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}

.discussions .discussion .photo {
    margin-left:20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.desc-contact {
  height: 43px;
  width:50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 11pt;
  color:#515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 9pt;
  color:#515151;
}

.timer {
  margin-left: 15%;
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

.chat {
  width: calc(65% - 85px);
}

.header-chat {
  background-color: #FFF;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
  display:flex;
  align-items: center;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color:#515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color:lightgrey;
  margin-bottom:10px;
  margin-left: 85px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left:auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  width: calc(65% - 66px);
  height: 80px;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #EEE;
  
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color:#C0C0C0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color:#fff;
  background-color: #4f6ebd;
  position: absolute;
  right: 50px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border:none !important;
  width:60%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
  margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}

/*Modal*/
.modal-dialog .modal-body .form label{
  font-size: 12px;
  font-weight: bold;
}

.modal-dialog .modal-body .form input[type=text], input[type=url], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.modal-dialog .modal-body .form input[type=button] {
  width: 100%;
  background-color: #3A5C65;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.modal-dialog .modal-body .form input[type=button]:hover {
  background-color: #2D3434;
}